# Right now we use Flake8 only for a few static checks focusing on runtime
# safety and correctness.  We don't use it for style checks.

[flake8]
select =
    # syntax errors
    E9,

    # all pyflakes correctness issues
    F,

extend-ignore =
    # allow f-strings without any placeholders
    F541,

exclude =
    .git,
    .venv*,
    __pycache__,
    build,
    dist,
