# Read The Docs doesn't (yet?) support Pipenv-based dependency installs, so
# instead we use this minimal requirements file.  It should be kept in sync
# with setup.py.  When the need for an unreleased version of sphinx-argparse goes
# away (presumably on its next release), then this whole file can go away and
# .readthedocs.yml can install .[dev] or a new .[docs] directly.

nextstrain-sphinx-theme
recommonmark
Sphinx>=3
sphinx-argparse @ https://github.com/alex-rudakov/sphinx-argparse/archive/b3b649743d4f8854349a2416ccdd770f41739c35.tar.gz
sphinx-markdown-tables
